<h4>OBS: Skriv upp användarnamn och lösenord för att kunna logga in efter konto är skapat.</h4>
<form id="new-user" method="post" action="">
	<table class="vertical-table">
		<tr>
			<th>Användarnamn:</th>
			<td><input type="text" name="username" id="user-name-form" placeholder="Användarnamn" value="---$username---"></td>
		</tr>
		<tr>
			<th>Lösenord:</th>
			<td><input type="password" name="password" placeholder="Lösenord" value="---$password---"><br /></td>
		</tr>
		<tr>
			<th>Förnamn:</th>
			<td><input type="text" name="first_name" placeholder="Förnamn" value="---$first_name---"/></td>
		</tr>
		<tr>
			<th>Efternamn:</th>
			<td><input type="text" name="last_name" placeholder="Efternamn" value="---$last_name---"/></td>
		</tr>
		<tr>
			<th>Adress:</th>
			<td><input type="text" name="adress" placeholder="Adress" value="---$adress---"/></td>
		</tr>
		<tr>
			<th>Postnummer:</th>
			<td><input type="text" name="postal" placeholder="Postnummer" value="---$postal---"/></td>
		</tr>
		<tr>
			<th>Stad:</th>
			<td><input type="text" name="city" placeholder="Stad" value="---$city---"/></td>
		</tr>
	</table>
	<input type="hidden" name="token" value="---$token---">
	<p>
		<input type="submit" value="Lägg till"/>
	</p>
</form>