<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>
			CANDYLAND
		</title>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>		
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="scripts/script.js"></script> <!---->
	</head>
	<body>
		<div id="container">
		<header>
			<h1 id="logo-text"><a id="logo-link" href="index.php">Candyland</a></h1>				
		</header>
		---$custom_nav---
		<div id="main">