<h2>Lagersaldo</h2> 
<table id="in-stock-table">
	<tr>
		<th>Produkt-id</th>
		<th>Namn</th>
		<th>I lager</th>
		<th>Lägg till</th>
	</tr> 
	<!--==xxx==-->
	<tr>
		<td>---$id---</td>
		<td>---$name---</td>
		<td>---$in_stock---</td>
		<td>
			<form href="" method="post" class="product-row">
				<input type="text" name="add_quantity" placeholder="Antal att lägga till saldot"/>
				<input type="hidden" name="id" value="---$id---">
				<input type="hidden" name="token" value="---$token---">
				<input type="submit" value="Lägg till"/>
			</form>			
		</td>
	</tr>
	<!--==xxx==-->
</table>