<div>
	<form action="" method="post" id="login-form">
		<h2>Logga in</h2>
		<input type="text" name="username" id="username" placeholder="Användarnamn" value="---$username---"><br />
		<input type="password" name="password" placeholder="Lösenord" value="---$password---"><br />
		<input type="hidden" name="token" value="---$token---">		
		<input type="submit" value="Logga in">
		<input type="checkbox" name="remember" ---$remember--->Kom ihåg mig	
		<a href="create_new_user.php">Skapa ny användare</a>		
	</form>	
</div>                      