		<div class="nav">
			<a href="index.php" class="left">Hem</a>
			<div id="admin" class="left">
				<div id="adminbtn" class="navbtn">Admin</div>
				<div id="admincontent" class="dropdown">
					<a href="in_stock.php">Lagersaldo</a><br/><hr>		
					<a href="view_orders.php">Ordrar</a><br/><hr>
					<a href="customers.php">Kunder</a><br/><hr>
					<a href="finance.php">Ekonomi</a><br/><hr>
					<a href="email_list.php">Epost-lista</a>
				</div>
			</div>
			<a href="logout.php?redirect_after_login=index.php" class="right">Logga ut</a>			
		</div>