		<div class="nav">
			<a href="index.php" class="left">Hem</a>
			<div id="cart" class="left">
				<div id="cartbtn" class="navbtn">Varukorg</div>
				<div id="cartcontent" class="dropdown">
					<!--==xxx==-->
					---$quantity--- st ---$item---<br />
					<!--==xxx==-->	
					<div class="---$shop---">
						<hr>
						<a href="shop.php">Till kassan</a>
						<hr>
						<a href="empty_cart.php">Töm varukorgen</a>
					</div>
				</div>
			</div>
			<a href="subscribe.php" class="left">Nyheter</a>
			<div id="user" class="right---$logged_in---">
				<div id="userbtn" class="navbtn">---$username---</div>
				<div id="usercontent" class="right dropdown">
					<a href="logout.php" class="right">Logga ut</a>
				</div>
			</div>
			<a href="login.php?redirect_after_login=index.php" class="right---$logged_out---">Logga in</a>			
		</div>