<h2>Lägg till produkt</h2> 
<form method="post" action="index.php" id="products-admin">
	<table class="vertical-table">
		<tr>
			<th>Namn:</th>
			<td><input type="text" name="product_name" id="product-name" value="---$name---"/></td>
		</tr>
		<tr>
			<th>Pris:</th>
			<td><input type="text" name="sales_price" value="---$sales_price---"/></td>
		</tr>
		<tr>
			<th>Kategori:</th>
			<td><input type="text" name="category" value="---$category---"/></td>
		</tr>
		<tr>
			<th>Inköpspris:</th>
			<td><input type="text" name="original_price" value="---$original_price---"/></td>
		</tr>
		<tr>
			<th>Bildens filnamn:</th>
			<td><input type="text" name="image_filename" value="---$image_filename---"/></td>
		</tr>
		<tr>
			<th>I lager:</th>
			<td><input type="text" name="in_stock" value="---$in_stock---"/></td>
		</tr>
	</table>
	<input type="hidden" name="token" value="---$token---">
	<p>
		<input type="submit" value="Lägg till"/>
	</p>
</form>
<!--==xxx==-->
<div class="product">
	<img src="images/products/---$image---" alt="Godis Bild">  
	<div class="center-div">
		<p>
			<strong>Nummer: </strong>---$id---<br />
			<strong>Namn: </strong>---$name---<br />
			<strong>Pris: </strong>---$sales_price--- kr<br />
			<strong>Kategori: </strong>---$category---<br />
			<strong>Inköpspris: </strong>---$orig_price---<br />
			<strong>Bildens filnamn: </strong>---$filename---<br />
			<strong>Lagersaldo</strong><span class="info" data-toggle="tooltip" title="Siffran justeras vid kundens beställning. Kan finnas fler i lager pga ej skickade än."> [?]</span>: ---$in_stock--- st
		</p>
	</div>
</div>