<div class="product">
	<img src="images/products/---$image---" alt="Godis Bild">
	<div class="center-div">
		<p>		
			<strong>Namn: </strong>---$name---<br />
			<strong>Pris: </strong>---$sales_price--- kr<br />
			<strong>Kategori: </strong>---$category---<br />
			<strong>Lagersaldo:</strong> ---$in_stock--- st<br />
			<strong>Artikelnummer: </strong>---$id---<br />
		</p>
	</div>
	<!--==xxx==-->	
		<a href="update_cart.php?action=add&id=---$id---&redirect=index.php" class="link-btn">LÄGG I VARUKORG</a>
		<p>---$message---</p>	
	<!--==xxx==-->	
</div>