<h2>Ordrar</h2>

<h3>Ej skickade</h3> 

<table>
	<tr>
		<th>Order-id</th>
		<th>Kund-id</th>
		<th>Beställningsdatum</th>
		<th>Skickat</th>
		<th>Hantera</th>
	</tr> 
	<!--==xxx==-->
	<tr>
		<td>---$order_id---</td>
		<td>---$user_id---</td>
		<td>---$order_date---</td>
		<td>---$status---</td>
		<td><a href="order_info.php?order=---$order_id---">Hantera</a></td>
	</tr>
	<!--==xxx==-->
</table>

<h3>Skickade</h3>

<table>
	<tr>
		<th>Order-id</th>
		<th>Kund-id</th>
		<th>Beställningsdatum</th>
		<th>Skickat</th>
		<th>Hantera</th>
	</tr> 
	<!--==xxx==-->
	<tr>
		<td>---$order_id---</td>
		<td>---$user_id---</td>
		<td>---$order_date---</td>
		<td>---$status---</td>
		<td><a href="order_info.php?order=---$order_id---">Hantera</a></td>
	</tr>
	<!--==xxx==-->
</table>